.archive {
    position: relative;

    &__sidebar {
        position: relative;

        &-wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @include md-block() {
                flex-direction: column;
            }

            @include sm-block() {
                margin-right: -15px;
                margin-left: -15px;
            }
        }

        .archive__row {
            width: calc(100% - 230px);
            padding-right: 30px;

            @include md-block() {
                width: 100%;
            }

            @include xs-block() {
                padding-right: 0px;
            }
        }
    }

    &__profile .archive__row {
        @include sm-block() {
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__card {
        position: relative;
        width: calc(33.333333%);
        cursor: pointer;

        @include md-block() {
            width: 33.333333%;
        }

        @include sm-block() {
            width: 50%;
        }

        @include xs-block() {
            width: 100%;
            margin-right: 0;
            margin-bottom: 0px;
            margin-left: 0;
        }

        &.twocollumn {
            @include xs-block() {
                width: 50%;
            }

            .profile__bage {
                top: 10px;

                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    padding: 3px 5px;

                    span {
                        font-size: 14px;
                    }

                    .icon {
                        display: none;
                    }
                }
            }
        }

        &-thumb {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.5) 100%
                );
            }
        }

        &-title {
            position: absolute;
            right: 25px;
            bottom: 25px;
            left: 25px;
            z-index: 10;

            @include xs-block() {
                right: 15px;
                bottom: 15px;
                left: 15px;
            }

            &-wrap {
                position: relative;
                display: inline-block;
            }

            &-realphoto {
                display: block;
                margin-bottom: 15px;

                span {
                    padding: 6px;
                    border-radius: 3px;
                    background: rgba(255, 255, 255, 0.3);
                    color: $color-text--white;
                    font-size: 10px;
                    line-height: 10px;
                    white-space: nowrap;
                }
            }
        }

        &-name {
            color: #fff;
            font-family: $f-medium;
            font-size: 24px;
            line-height: 28px;
            white-space: pre-wrap;

            @include xs-block() {
                font-size: 18px;
                line-height: 24px;
            }
        }

        &-city {
            margin-top: 10px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            line-height: 22px;

            @include xs-block() {
                opacity: 0.5;
                margin-top: 5px;
                font-size: 12px;
                line-height: normal;
            }
        }

        &-online {
            position: absolute;
            top: 0;
            right: -10px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #1dcb55;
        }

        .profile__gallery-online {
            top: 10px;
            right: 15px;
        }

        .profile__bage {
            right: -7px;

            @include sm-block() {
                right: 0;
            }

            &-item::before {
                @include sm-block() {
                    display: none;
                }
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .btn {
            margin-bottom: 30px;
        }
    }

    &__agency {
        position: relative;

        &-row {
            margin-top: 30px;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-top: 30px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            @include xs-block() {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                padding: 15px 0;
            }

            &-thumb {
                width: 238px;
                height: 238px;

                @include xs-block() {
                    width: 120px;
                    height: 120px;
                    margin-bottom: 15px;
                }
            }

            &-meta {
                width: 290px;
                margin-left: 30px;

                @include xs-block() {
                    width: 100%;
                    margin-left: 0px;
                    text-align: center;
                }

                &-title {
                    margin-bottom: 15px;
                    color: $color-text;
                    font-family: $f-bold;
                    font-size: 18px;
                    line-height: 22px;
                }

                &-count {
                    display: inline-block;
                    margin-bottom: 15px;
                    padding: 5px 10px;
                    border: 1px solid $color-accent;
                    color: $color-accent;
                }

                &-desc {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 16px;
                    line-height: 150%;
                }
            }

            &-models {
                width: 550px;
                overflow: hidden;

                @include xs-block() {
                    display: none;
                }

                &-wrap {
                    display: flex;
                    align-items: center;
                    width: 2000px;
                    overflow-y: auto;
                }

                &-item {
                    width: auto;
                    height: 200px;
                    margin-left: 1px;

                    img {
                        display: block;
                        width: auto;
                        height: 200px;
                    }
                }
            }
        }
    }

    &__video {
        position: relative;
        margin-bottom: 60px;

        &:hover &--play {
            opacity: 1;
        }

        &--meta {
            position: absolute;
            top: 100%;
            left: 15px;
            display: flex;
            align-items: center;
            margin-top: -5px;

            &-avatar {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 17px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-name {
                margin-left: 10px;
                transition: $trs;
                color: #fff;
                font-size: 14px;

                &:hover {
                    color: $color-accent;
                }
            }
        }

        &--thumb {
            width: 100%;
            overflow: hidden;
            border-radius: 10px;

            img {
                display: block;
                width: 100%;
            }
        }

        &--play {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0.9;
            width: 68px;
            height: 68px;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
            background-image: url('/assets/files/icons/svg/icon--play.svg');
            background-size: cover;
        }
    }

    &__news {
        position: relative;

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            @include sm-block() {
                flex-direction: column;
            }

            @include xs-block() {
                margin-bottom: 0px;
            }

            &--thumb {
                width: 370px;
                height: 212px;

                @include sm-block() {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &--content {
                width: calc(100% - 370px);
                padding-left: 30px;

                @include sm-block() {
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                &-title {
                    color: #fff;
                    font-size: 18px;
                }

                &-date {
                    margin-bottom: 15px;
                    color: rgba($color-text--white, 0.5);
                    font-size: 14px;
                }

                &-desc {
                    color: rgba($color-text--white, 1);
                    font-size: 16px;
                    line-height: 150%;
                    @include sm-block() {
                        display: none;
                    }

                    p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    &__reviews {
        margin-top: 30px;
    }

    &.video {
        margin-top: 30px;
    }

    &.news {
        margin-top: 30px;
    }

    h1 {
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 30px;
        font-family: $f-bold;
        font-weight: normal;
        text-transform: unset;
    }
} // .archive
